#header {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    background: #1e1e1e;
}
#main {
    margin-top: 70px;
}
.more {
    text-align:center;
}
.moreicon {
    cursor: pointer;
}
.icon {
    margin-top: 10px;
}
md-content {
   background: #222222;
}
 .header {
    background: #505050;
 }
 .loginBox {
     align: center;
     margin-top: 200px;
     width: 300px;
 }
 .log {
    color: #d3d3d3;
    padding-top: 20px;
    font-weight: 100;
    background: #222222;
 }
 .log div {
     margin-right: 20px;
 }
 .time {
      font-weight: 100;
      margin: 0px 5px;
      width: 200px;
  }
 .data {
        font-weight: 100;
        margin-left: 315px;
 }
 .level {
     font-weight: 100;
     width: 70px;
 }

  /* Rules for sizing the icon. */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }